UI_INCLUDINGVAT=false
UI_ANALYTICS_HIGHPRICE=0.20
UI_ANALYTICS_LOWPRICE=0.05
UI_TEXTCHART_WIDTH=22

DATAREPOSITORY_DRIVER=groupcache
DATAREPOSITORY_GROUPCACHE_ME=http://localhost:9090
DATAREPOSITORY_GROUPCACHE_LISTEN=localhost:9090
DATAREPOSITORY_INFLUX_URL=http://localhost:8086
DATAREPOSITORY_INFLUX_ORGNAME=home
DATAREPOSITORY_INFLUX_BUCKET=epex-nl-da-hourly
DATAREPOSITORY_INFLUX_TOKEN=super-duper-token
DATAREPOSITORY_ENERGYZERO_API_ENDPOINT=https://api.com/v1

CHARTREPOSITORY_DRIVER=groupcache
CHARTREPOSITORY_GROUPCACHE_ME=http://localhost:9090
CHARTREPOSITORY_GROUPCACHE_LISTEN=localhost:9090

SERVER_PORT=8080

MESSENGER_DRIVER=telegram
MESSENGER_TELEGRAM_TOKEN=MySecurityToken
MESSENGER_TELEGRAM_CHATID=-10000000000
